.homepage-container {
  width: 100%;
  border-top: none;
}
.filter-container {
  margin: 20px 0;
  padding-left: 15px;
}
.homepage-container .not-found-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.not-found-container span{
  font-size: 32px;
  margin-bottom: 10px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #FAFAFA;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #9b9b9b;
}
.not-found-container p{
  font-size: 20px;
}
.filter-container select {
  padding: 8px 12px;
  border: 1px solid #0c4dde;
  color: #0c4dde;
  outline: none;
  border-radius: 4px;
  width: 20%;
  background-color: #fff;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease;
  margin-right: 40px;
}

.filter-container select:focus {
  border-color: #0056b3;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.filter-container .search-btn {
  width: 20%;
  background-color: #0c4dde;
  border-radius: 5px;
  color: white;
  border: none;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.filter-container .search-btn:hover {
  background-color: #0056b3;
}

.filter-container select option {
  outline: none;
}

.advertisement-lists{
  
}
.advertisement {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #aaf674;
  border-left: none;
  border-right: none;
  cursor: pointer;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.advertisement div{
  margin-bottom: 10px;
}
.advertisement:hover.advertisement{
  background-color: #f9f9f9;
}
.advertisement-loqo {
  width: 36px;
  height: 36px;
  /* background-color: #fb9762; */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  color: white;
  margin-right: 10px;
}
.advertisement-position-company {
  width: 72%;
}
.advertisement-position-company .position-name {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0px;
}
.advertisement-position-company .company-name {
  margin-bottom: 0px;
}
.advertisement-position-company span {
  font-size: 14px;
  color: #00000080;
}
.advertisement-position-company .deadline {
  font-weight: 600;
  margin-left: 6px;
}
.advertisement .price{
  width: 20%;
}



@media (max-width: 768px) {
  .advertisement p{
    font-size: 14px;
  }
  .advertisement span{
    font-size: 13px;
  }
  .advertisement-position-company {
    width: 68%;
  }


  .homepage-container{
    box-shadow: none;
    border: none;
  }
  .filter-container{
    border: none;
  }
  .filter-container select{
    font-size: 14px;
  }
  .filter-container .search-btn{
    font-size: 12px;
  }

}


@media (max-width: 480px) {
  .filter-container select{
    width: 100%;
    margin-bottom: 4px;
    font-size: 12px;
  }
  .filter-container{
    flex-direction: column;
  }
  .filter-container .search-btn{
    width: 100%;
  }
}