.sidebar {
    height: 100%;
    position: relative;
}

.sidebar-header{
    display: flex;
    justify-content: space-between;
}
.sidebar-header img{
    width: 100%;
}
.header_logo {
    width: 50%;
}

.header__menu {
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 10px;
}

.header__menu__item1{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    padding: 3px 10px;
}

.header__menu li {
    padding: 20px;
    text-decoration: none;
    width: 100%;
}

.language-select {
    position: relative;
    display: inline-block;
}
  
.select-trigger {
    width: 80px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    font-size: 15px;
    color: #333;
    cursor: pointer;
    text-align: center;
    position: relative;
  }
  
.arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #333;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
  
.select-options {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    z-index: 1000;
}
  
.select-option {
    padding: 10px;
    background-color: #f9f9f9;
    color: #333;
    cursor: pointer;
}
  
.select-option:hover {
    background-color: blue;
    color: white;
}

.header__menu__item1:hover{
    background-color: blue;
    color: white;
    cursor: pointer;
    transition: background-color 1s ease;
    border-radius: 10px;
}

.header__menu__item {
    font-size: 20px;
}

.icon-container {
    width: 20%;
    display: flex;
    background-color: gray;
    align-items: center;
    padding: 2px 1px;
    cursor: pointer;
    border-radius: 10%;
}

.sun {
    background-color: white;
    color: gray;
    padding: 5px 10px;
    border-radius: 10%;
}

.moon {
    color: white;
    padding: 5px 10px;
    margin: auto;
}
.sidebar main{
    margin-top: 30px;
}

body.dark-mode {
    background-color: #333;
    color: #fff;
}

.sidebar.dark-mode {
    background-color: #333;
    color: #fff;
}

.sidebar.dark-mode .header__menu li,
.sidebar.dark-mode .footer_menu li {
    color: #fff;
}

.sidebar.dark-mode .icon-container .sun {
    display: none;
}

.sidebar.dark-mode .icon-container .moon {
    display: block;
}

.footer { 
    position: fixed;
    bottom: 0;
}

.footer_menu {
    display: flex;
    gap: 20px;
}

.footer_menu_item1,
.footer_menu_item2,
.footer_menu_item3 {
    text-decoration: none;
    cursor: pointer;
    color: black;
    position: relative;
    overflow: hidden;
    transition: all 3s ease;
} 

.footer_menu_item1:hover::after,
.footer_menu_item2:hover::after,
.footer_menu_item3:hover::after {
    animation: underlineDelay 1s ease 0.5s forwards;
}

.footer p{
    color: rgba(0, 0, 0, .3);
    margin-top: 10px;
}

.footer_menu_item1::after,
.footer_menu_item2::after,
.footer_menu_item3::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 2px;
    background-color: black;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease;
}

.footer_menu_item1:hover,
.footer_menu_item2:hover,
.footer_menu_item3:hover {
    color: #0C4DDE; 
}

.footer_menu_item1:hover::after,
.footer_menu_item2:hover::after,
.footer_menu_item3:hover::after {
    animation: underlineDelay 0.5s ease 0.1s forwards;
}

@keyframes underlineDelay {
    to {
        transform: scaleX(1);
    }
}