.sidebar{
    display: block;
}
.header_logo img {
    width: 130px;
    height: 45px;
    margin-top: 30px;
    max-width: 100%;
}
#lang {
    position: absolute;
    top: 35px;
    left: 150px;
    font-size: 15px;
    cursor: pointer;
    z-index: 1000;
}
.icon-container {
    width: 16%;
    position: absolute;
    bottom: 150px;
    left: 10px;
    display: flex;
    justify-content: space-between;
    background-color: gray;
    align-items: center;
    padding: 2px 1px;
    cursor: pointer;
    max-width: 100%;
}
.header__menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.header__menu li {
    display: block;
    color: black;
    padding: 20px;
    text-decoration: none;
  }
.header__menu__item2.active {
    background-color: #04AA6D;
    color: white;
}
.header__menu__item2:hover:not(.active) {
    background-color: blue;
    color: white;
    cursor: pointer;
}
.header__menu__item1.active {
    background-color: #04AA6D;
    color: white;
}
.header__menu__item1:hover:not(.active) {
    background-color: blue;
    color: white;
    cursor: pointer;
}
.header__menu__item{
    font-size: 20px;
}
.sun {
    background-color: white;
    color: gray;
    padding: 9px;
    border-radius: 10%;
}
.moon {
    color: white;
    padding: 8px;
}
.footer {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    cursor: pointer;
    position: absolute;
    bottom: 90px;
    left: 10px;
    flex-wrap: wrap;
}

.footer_menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.footer_menu_item {
    cursor: pointer;
    position: relative;
}

.footer_menu_item li {
    text-decoration: none;
}

.footer_menu_item1, .footer_menu_item2, .footer_menu_item3 {
    text-decoration: none;
    cursor: pointer;
    color: black;
    position: relative;
    overflow: hidden;
}

.footer_menu_item1::after, .footer_menu_item2::after, .footer_menu_item3::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 2px;
    background-color: black;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease;
}

.footer_menu_item1:hover::after, .footer_menu_item2:hover::after, .footer_menu_item3:hover::after {
    animation: underlineDelay 0.5s ease 0.1s forwards;
}

@keyframes underlineDelay {
    to {
        transform: scaleX(1);
    }
}