.profile_content_body {
    padding: 0 24px;
    margin-bottom: 50px;
}

.profile__title {
    font-size: 17px;
    line-height: 21px;
    text-transform: uppercase;
    color: #2196F3;
    display: flex;
    align-items: center;
}

.profile_title_line {
    content: "";
    width: 3px;
    height: 24px;
    background-color: #2196F3;
    display: block;
    margin-right: 16px;
    border-radius: 16px;
}

.profile-edit-inputs {
    padding: 24px;
    border: 1px solid #F4F6F9;
    border-radius: 8px;
}

.profile_inputs {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 50%;
    position: relative;
}

.profile_edit_input {
    display: flex;
    flex-direction: column;
}

.profile_edit_input label {
    font-size: 14px;
    margin-bottom: 8px;
    color: #333;
}

.toggle-password-visibility {
    border: none;
    width: 20px;
    position: absolute;
    right: 10px;
    margin-top: 39px;
    background-color: #F4F6F9;
    height: 20px;
    display: flex;
    justify-content: center;
}

.profile_edit_input input {
    padding: 8px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 14px;
    color: #7B7B7B;
    background-color: #F4F6F9;
}

.profile_edit_input input:active {
    border-color: #007bff;
}

.profile_edit_input button {
    width: 186px;
    height: 46px;
    padding: 10px 16px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.profile_edit_input button:hover {
    background-color: #0056b3;
}

.delete-account-section {
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 20px 0;
    padding-right: 24px;
}

.delete-account-button {
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-account-button:hover {
    background-color: #c0392b;
}

.delete-account-button:focus {
    outline: none;
}

.delete-account-button:active {
    background-color: #a93226;
}
.profile-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


@media (max-width: 768px) {
    .profile_inputs {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .profile_edit_input button {
        width: 100%;
        padding: 8px 12px;
    }
}