.search-filter-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  box-shadow: 0 1px 0 0 #eaeaea, 
  1px 1px 0 0 #eaeaea, 
  0 0 0 1px #eaeaea inset, 
  0 1px 0 0 #eaeaea inset; 
}
.search {
  display: flex;
  justify-content: space-between;
  width: 96%;
}
.search input {
  width: 80%;
  height: 26px;
  border: none;
  outline: none;
}
.search .search-icon {
  font-size: 20px;
  margin-right: 25px;
  margin-top: -3px;
}
.search .filter-icon {
  font-size: 14px;
  color: #0c4dde;
  margin-left: 16px;
  margin-right: 6px;
}
.search .filter-text {
  color: #0c4dde;
  font-size: 14px;
}
.search .search-filter {
  /* padding-top: 4px; */

}
.search-label {
  border: 1px solid #dee2e6;
}
.search input,
.search input::placeholder {
  font: 15px/3 sans-serif;
  color: #0c4dde;
}

@media (max-width: 768px) {
  .filter-text {
    display: none;
  }
  .filter-icon {
    border: 1px solid #dee2e6;
    padding: 10px;
  }
  .search input {
    width: 98%;
  }
  .search input,
  .search input::placeholder {
    font: 13px/3 sans-serif;
    color: #0c4dde;
  }
  .search{
    width: 100%;
    padding: 0 5px 0 12px;
  }
  .search-filter-container{
    height: 50px;
  }
}
@media (max-width: 480px) {
}
