.all_services{
    padding: 0px 15px;
}
.all_services-1{
    height: 100vh;
    border-right: 1px solid #eaeaea;
    display: flex;
    flex-direction: column;
}
.all-services-2{
    padding: 1.5rem 3.2rem;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.all-services-2 h3{
    font-size: 2rem;
    padding-bottom: 1rem;
    margin-bottom: 20px;
}
.services-list{
    list-style: none;
    margin-bottom: 2.4rem;
    margin-right: 150px;
}
.services-item{
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    margin-bottom: .8rem;
    padding: 1.2rem 1.6rem;
}
.services-item h4{
    font-size: 18px;
}
.tab-content_item p{
    margin-bottom: 1.2rem;
}
.tab-content_item3{
    margin-bottom: 2.9rem;
}
.all_services h4{
    margin-bottom: 15px;
}